<section class="section section-counter">
  <div class="container container-counter">
    <div class="counter" id="counter">
      <ul class="counter-list">
      <li class="counter-item">
        <div class="milestone-counter">
          <span class="counter-icon">
            <svg width="40" height="40" class="counter-icon-color">
              <use href="./img/icons.svg#icon-business-card"></use>
            </svg>
          </span>
          <div class="count-symbol">
            <span class="stat-count highlight">9</span><span>&#43; <span class="add-span">
               років</span></span>
          </div>
          <div class="milestone-details">Досвід в птахівництві</div>
        </div>
      </li>
      <li class="counter-item">
        <div class="milestone-counter">
          <span class="counter-icon">
         
            <svg width="40" height="40" class="counter-icon-color">
              <use href="./img/icons.svg#icon-like"></use>
            </svg> 
          </span>
          <div class="count-symbol">
            <span class="stat-count highlight">300</span><span>&#43;</span>
          </div>
          <div class="milestone-details">Задоволених клієнтів</div>
        </div>
      </li>
      <li class="counter-item">
        <div class="milestone-counter">
          <span class="counter-icon">
            <svg width="40" height="40" class="counter-icon-color">
              <use href="./img/icons.svg#icon-banknote"></use>
            </svg>
          </span>
          <div class="count-symbol">
            <span class="stat-count highlight">950</span><span>&#43;</span>
          </div>
          <div class="milestone-details">Успішних учнів</div>
        </div>
      </li>
    </ul>
 
    </div>
  </div>
</section>
