<section class="section courses-section" id="courses">
  <div class="container container-courses">
    <div class="swiper-hero">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="courses-info">
              <div class="sub-course">
                <h2 class="courses-subtitle">
                Курси 
                </h2>
              </div>
              <p class="add-subtitle"> по вирощуванню птиці </p>
              <p class="add-fonts">(інформація доступна необмежений час)</p> 
              <h2 class="courses-title">Бройлер</h2>
              <p class="courses-text">
                Мій досвід у вирощуванні цієї птиці - 8 років!
                Було багато невдач, хвороби, синюшність птиці, роз‘іхавшися лапи і багато іншого!
        
                Далі - навчання на Науково дослідницькій станції птахівництва.
                Я проведу вас за руку, починаючи з інкубаційного яйця, або добового курчати - до забою і переробки м‘яса!
                Мій постійний зв’язок з вами, підтримка і відповіді на усі запитання,
                 а також прорахунок рентабельності утримання цієї птиці на моєму 
                 прикладі - це головний бонус цього курсу. 
              </p> 
              <div class="btn-block">
                <div>
                  <a class="courses-btn"  href="https://secure.wayforpay.com/button/becd9760a746a" rel="noreferrer noopener" target="_blank">купити курс 1700 &#8372;</a>
                </div>
                <div class="btn-arrow">
                  <button type="button" class="button-prev btn-course">
                    <svg class="arrow-prev" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
                  <button type="button" class="button-next btn-course">
                    <svg class="arrow-next" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                  </button>  
                </div> 
              </div>	
            </div>         
            <div class="courses-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/broiler-desk@1x.jpg 1x,
                    ./img/courses/broiler-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/courses/broiler-tab@1x.jpg 1x,
                    ./img/courses/broiler-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/courses/bro-mob@1x.jpg 1x,
                    ./img/courses/bro-mob@2x.jpg  2x
                  "
                />
                <img
                  src="./img/courses/bro-mob@1x.jpg"
                  alt="курчати"
                  width="704"
                  height="532"
                />
              </picture>
            </div>
          </div>
        </div>           
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="courses-info">
              <div class="sub-course">
                <h2 class="courses-subtitle">
                Курси
                </h2>
              </div>
              <p class="add-subtitle"> по вирощуванню птиці </p>
              <p class="add-fonts">(інформація доступна необмежений час)</p> 
              <h2 class="courses-title">Несушка</h2>
              <p class="courses-text">  
                Хочу представити повний курс по вирощуванню несушки і м‘ясояєчноі курки.
                Цей курс підійде тим, хто хоче вирощувати на своєму подвір’ї курей і отримувати від цього процесу повноцінний результат!
                 <br> Ви зможете:
                <br>Побудувати курник
                <br>Зробити правильну вентиляцію
                <br>Готувати корми самотужки і багато іншого
                <br>Курс по вирощуванню несушки - 24 відео, 9 таблиць.
              </p> 
              <div class="btn-block">
                <div>
                  <a class="courses-btn" href="https://secure.wayforpay.com/button/b876aa77e19dc" rel="noreferrer noopener" target="_blank">купити курс 1700 &#8372;</a>
                </div>
                <div class="btn-arrow">
                  <button type="button" class="button-prev btn-course">
                    <svg class="arrow-prev" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
                  <button type="button" class="button-next btn-course">
                    <svg class="arrow-next" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                  </button>  
                </div> 
              </div> 
            </div>
            <div class="courses-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/nes-desk@1x.jpg 1x,
                    ./img/courses/nes-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/courses/nes-tab@1x.jpg 1x,
                    ./img/courses/nes-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/courses/nes-mob@1x.jpg 1x,
                    ./img/courses/nes-mob@2x.jpg  2x
                  "
                />
                <img
                  src="./img/courses/nes-mob@1x.jpg"
                  alt="несушка"
                  width="704"
                  height="532"
                />
              </picture>
            </div>
          </div>
        </div> 
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="courses-info">
              <div class="sub-course">
                <h2 class="courses-subtitle">
                Курси 
                </h2>
              </div>
              <p class="add-subtitle"> по вирощуванню птиці </p>
              <p class="add-fonts">(інформація доступна необмежений час)</p> 
              <h2 class="courses-title">Індик</h2>
              <p class="courses-text">
                Я вас запрошую у цікавий світ індиків- смачного і корисного м‘яса.
                Це чітка покрокова інструкція вирощування цієї птиці.
                Ви зможете пройти цей шлях легко - збережемо ваше поголів‘я, приумножимо ваші гроші і збережемо нерви!
                Головний подарунок для власників курсу- моя особиста підтримка і консультації ( безкоштовно)
                Виростимо індика вагою 20+ кг впродовж 4-5 місяців разом.
                <br>Курс по вирощуванню індика - 12 відео, 8 таблиць.
              </p> 
              <div class="btn-block">
                <div>
                  <a class="courses-btn"  href="https://secure.wayforpay.com/button/bd856c1668173" rel="noreferrer noopener" target="_blank">купити курс 1700 &#8372;</a>
                </div>
                <div class="btn-arrow">
                  <button type="button" class="button-prev btn-course">
                    <svg class="arrow-prev" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
                  <button type="button" class="button-next btn-course">
                    <svg class="arrow-next" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                  </button>  
                </div> 
              </div>	
            </div>   
                   
            <div class="courses-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/induk-desk@1x.jpg 1x,
                    ./img/courses/induk-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/courses/induk-tab@1x.jpg 1x,
                    ./img/courses/induk-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/courses/induk-mob@1x.jpg 1x,
                    ./img/courses/induk-mob@2x.jpg  2x
                  "
                />
                <img
                  src="./img/courses/induk-mob@1x.jpg"
                  alt="курчати"
                  width="704"
                  height="532"
                />
              </picture>
            </div>
          </div>
        </div>           
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="courses-info">
              <div class="sub-course">
                <h2 class="courses-subtitle">
                Курси
                </h2>
              </div>
              <p class="add-subtitle"> по вирощуванню птиці </p>
              <p class="add-fonts">(інформація доступна необмежений час)</p> 
              <h2 class="courses-title">Інкубація</h2>
              <p class="courses-text">  
                Отримаєте схеми інкубації свійських птахів, які працюють, 
                як швейцарський годинник на побутових інкубаторах 
                (розроблені зоотехніками).Бо схеми інкубації з інтернету - не адаптовані до побутових інкубаторів, 
                якими ми всі користуємось.
                <br> Яку птицю інкубуватимемо:
                <br> Курка,
                 Індик,
                 Перепілка,
                <br> Цесарка,
                 Фазан,
                 Гуска,
                <br> Качка "Мускусна",
                 Качка "Пекінська".
              </p> 
              <div class="btn-block">
                <div>
                  <a class="courses-btn" href="https://secure.wayforpay.com/button/bcea863c7d42b" rel="noreferrer noopener" target="_blank">купити курс 1700 &#8372;</a>
                </div>
                <div class="btn-arrow">
                  <button type="button" class="button-prev btn-course">
                    <svg class="arrow-prev" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
                  <button type="button" class="button-next btn-course">
                    <svg class="arrow-next" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                  </button>  
                </div> 
              </div>
              
            </div>
            <div class="courses-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/inkubaz-desk@1x.jpg 1x,
                    ./img/courses/inkubaz-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/courses/inkubaz-tab@1x.jpg 1x,
                    ./img/courses/inkubaz-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/courses/inkubaz-mob@1x.jpg 1x,
                    ./img/courses/inkubaz-mob@2x.jpg  2x
                  "
                />
                <img
                  src="./img/courses/inkubaz-mob@1x.jpg"
                  alt="інкубація"
                  width="704"
                  height="532"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero">
          <div class="hero-wrapper">
            <div class="courses-info">
              <div class="sub-course">
                <h2 class="courses-subtitle">
                Курси
                </h2>
              </div>
              <p class="add-subtitle"> по вирощуванню птиці </p>
              <p class="add-fonts">(інформація доступна необмежений час)</p> 
              <h2 class="courses-title">Перепілка</h2>
              <p class="courses-text">  
                Мій дворічний досвід в перепіловодстві і піврічне навчання у 
                    провідних зоотехніків, допоможе вам
                    <br> виростити важку птицю
                    <br> скласти продуктивні маточні стада
                    <br> готувати корми з необхідною кількістю протеїну власноруч
                    <br> зробити клітки із підручних матеріалів власноруч
                    <br> дізнатись про потрібний світловий і тепловий режими для найкращої яйценоскості
              </p> 
              <div class="btn-block">
                <div>
                  <a class="courses-btn" href="https://secure.wayforpay.com/button/bea302bd40a89" rel="noreferrer noopener" target="_blank">купити курс 1700 &#8372;</a>
                </div>
                <div class="btn-arrow">
                  <button type="button" class="button-prev btn-course">
                    <svg class="arrow-prev" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                  </button>
                  <button type="button" class="button-next btn-course">
                    <svg class="arrow-next" width="32" height="32">
                      <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                  </button>  
                </div> 
              </div>
              
            </div>
            <div class="courses-image">
              <picture>
                <source
                  media="(min-width: 1440px)"
                  srcset="
                    ./img/courses/perep-desk@1x.jpg 1x,
                    ./img/courses/perep-desk@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/courses/perep-tab@1x.jpg 1x,
                    ./img/courses/perep-tab@2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/courses/perep-mob@1x.jpg 1x,
                    ./img/courses/perep-mob@2x.jpg  2x
                  "
                />
                <img
                  src="./img/courses/perep-mob@1x.jpg"
                  alt="перепілка"
                  width="704"
                  height="532"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
