<section id="mod" class="section mod-section">
  <div class="container container-module">
    <div class="module-wrapper">
      <div class="sub-mod">
        <h4 class="subtitle-module">програма</h4>
      </div>
      <h2 class="title-module">ПтахоCтарт</h2>
      <div class="block-text">
        <p class="module-text-one">
          Одна з базових програм по вирощуванню свійської птиці. <br />
          Саме з неї краще почати свій шлях у птахівництві:
        </p>
        <p class="module-text">&#8722; мінімізувати втрати поголів‘я</p>
        <p class="module-text">
          &#8722; мати повну уяву про епідеміологічні і бактеріальні
          захворювання курей і методи їх лікування
        </p>
        <p class="module-text">
          &#8722; аналізувати ситуацію у вашому стаді і знаходити правильні
          рішення без сторонньої допомоги
        </p>
        <p class="module-text">
          &#8722; xвороби дешевше попереджати, ніж лікувати
        </p>
        <p class="module-text-two">
          &#8722; мати можливості вирощувати для своєї родини і постійних
          покупців якісні продукти харчування.
        </p>
      </div>
      <picture class="image-mod">
        <source
          srcset="./img/mod/program-desk-1@1x.jpg 1x, ./img/mod/program-desk-1@2x.jpg 2x" media="(min-width: 1440px)"/>
        <source
          srcset="./img/mod/program-tab@1x.jpg 1x, ./img/mod/program-tab@2x.jpg 2x" media="(min-width: 768px)"/>                  
        <source
          srcset="./img/mod/program-mob@1x.jpg 1x, ./img/mod/program-mob@2x.jpg 2x" media="(max-width: 767px)"/>
        <img
          src="./img/mod/program-mob@1x.jpg" alt="Тетяна Черкашина"/>
      </picture>
    </div>
    <div class="module-wrapper">
      <ul class="mod-list">
        <li class="mod-item">
          <button class="mod-button">
            <span> &#40;Модуль Перший&#41; Породи і кроси </span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>Навчимося відрізняти курей за породами і кросами.</p>
            <p>Аптечка &#8722; мінімум: надаю список препаратів.</p>
            <p>Норми посадки курчат.</p>
            <p>Світловий і тепловий режими.</p>
          </div>
        </li>
        <li class="mod-item">
          <button class="mod-button">
            <span>&#40;Модуль Перший&#41; Захист</span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>Брудерний період. Дезінфекція</p>
            <p>Опис симптомів епідеміологічних хвороб</p>
            <p>Щеплення. Правила видачі препаратів</p>
          </div>
        </li>
        <li class="mod-item">
          <button class="mod-button">
            <span>&#40;Модуль Другий&#41; Хвороби</span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>
              Інфекційні і бактеріальні хвороби <br />
              фото і відео симптомів кожноі хвороби.
            </p>
            <p>Дегельмінтизація</p>
          </div>
        </li>
        <li class="mod-item">
          <button class="mod-button">
            <span>&#40;Модуль Другий&#41; Годування птиці</span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>
              Норми годування птиці у різному віці <br />
              Виготовлення кормів власноруч
            </p>
            <p>
              Клоацит<br />
              Розкльов
            </p>
            <p>Яйценосність</p>
          </div>
        </li>
        <li class="mod-item">
          <button class="mod-button">
            <span>&#40;Модуль Третій&#41; Маточні родини</span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>
              Маточні родини: правила складання маточних родин на інкубаційне
              яйце
            </p>
            <p>Підготовка родини до збору інкубаційного яйця</p>
            <p>
              Дезінфекція вигулів <br />
              Натуральний і безпечний розчин для будь яких обробок
            </p>
          </div>
        </li>
        <li class="mod-item">
          <button class="mod-button">
            <span> &#40;Модуль Третій&#41; Курник </span>
            <span class="mod-list-icon">
              <svg width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
          <div class="mod-answer">
            <p>
              Курник &#8722; варіанти будівель, які можна облаштувати під цю
              ціль
            </p>
            <p>Вентиляція в курнику &#8722; примусова, природня</p>
            <p>Линька, допомагаємо птиці вийти з неї правильно</p>
            <p>
              Розтин &#8722; відео як виглядає кожен орган у здоровому і хворому
              стані
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="buttons-module">
    <a  class="hero-btn"
      href="https://secure.wayforpay.com/button/b3023d7a9bbba"
      rel="noreferrer noopener"
      target="_blank"
      >Купляю програму
    </a>
    <a class="hero-btn"
      href="https://secure.wayforpay.com/button/bc926d4942d88"
      rel="noreferrer noopener"
      target="_blank"
      >Купляю модуль 1000 &#8372;
    </a>
  </div>
</section>
