
/* #region action */

.section-action {
  background-color: var(--white);
}
.container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .title-buy {
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 28px;
} */
.sale {
  font-size: 34px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  text-decoration-line: underline;
}
.buy {
  margin-bottom: 36px;
}
.text-action {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  text-decoration-line: underline;
}
.action-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.action-items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.image-action {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--navy-blue);
  margin: auto;
}
.sub-buy {
  float: left;
  width: 80%;
  height: auto;
  clear: both;
  margin-top: 25px;
  margin-bottom: 5px;
  border-top: 1px solid var(--navy-blue);
  text-align: left;
  padding-left: 64px;
}
.sub-buy .subtitle-buy {
  display: inline-block;
  position: relative;
  top: -14px;
  /* width: auto; */
  clear: both;
  padding: 0;
  margin: 0;
  background: var(--white);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: normal;
  text-transform: uppercase;
  width: 155px;
  text-align: center;
}
/* #endregion action */
@media (min-width: 377px) and  (max-width: 767px) {
  .sub-buy .subtitle-buy {
    font-size: 14px;
    width: 300px;
    padding: 0 10px;
  }
}
@media screen and (min-width: 768px) {

  /* #region action */
  .action-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
  .sub-buy .subtitle-buy {
    font-size: 14px;
    width: auto;
    padding: 0 14px;
  }
  .action-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    flex-basis: calc((100% - 24px) / 2);
  }
  .sale buy {
   margin-top: 36px;
  }
  /* #endregion action */
 
  
}

@media screen and (min-width: 1440px) {
  /* #region action */

.section-action {
  background-color: var(--white);
  padding-top: 90px;
  padding-bottom: 90px;
}
.container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-buy {
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 28px;
}
.sale {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  margin: 56px 0;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  text-decoration-line: underline;
}
 
.text-action {
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  text-decoration-line: underline;
}

.action-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.action-items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.image-action {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--navy-blue);
}

/* #endregion action */
  
}
