body {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  color: var(--dark);
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Manrope", sans-serif;
}

:root {
  --primary: red;
  --lightgrey: #f6f6f6;
  --dark: #2f4960;
  --blue: #a5d0fd;
  --white: #fff;
  --navy-blue: #01cbcb;
  --pink: #e88572;
  --blue-light: #aae0e0;
  --green: #8ab3a5;
  --bg: #e2f4f4;
  --bg-acc: #03b5d2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
  color: inherit;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
button {
  font-family: inherit;
  padding: 0;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* #region heder-menu */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  box-shadow: 0 5px 10px var(--dark);
  background-color: var(--blue-light);
}
header .logo {
  font-size: 15px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  transition: 0.5s;
}
header .logo:hover {
  transform: scale(1.2);
}

header .logo .logo-link {
  color: var(--dark);
  font-weight: 700;
}
header .nav-menu .menu-list .menu-items {
  position: relative;
  float: left;
}

header .nav-menu .menu-list .menu-items .menu-link {
  display: block;
  padding: 16px;
  color: var(--dark);
  font-size: 20px;
}
header .nav-menu .menu-list .menu-items .menu-link:hover {
  background: var(--dark);
  color: #fff;
}

.nav-menu .menu-list .menu-items .menu-list-down .menu-items-down {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-menu .menu-list .menu-items .menu-list-down {
  position: absolute;
  left: 0;
  width: 200px;
  background: var(--bg);
  display: none;
}

.nav-menu .menu-list .menu-items .menu-list-down .menu-items-down {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-menu
  .menu-list
  .menu-items
  .menu-list-down
  .menu-items-down
  .menu-link-down {
  display: block;
  padding: 16px;
  color: var(--dark);
  font-size: 18px;
}
.nav-menu
  .menu-list
  .menu-items
  .menu-list-down
  .menu-items-down
  .menu-link-down:hover {
  background: var(--dark);
  color: #fff;
}
.nav-menu
  .menu-list
  .menu-items
  .menu-list-down
  .menu-items-down
  .menu-link-down
  .icons {
  fill: var(--dark);
}
.nav-menu
  .menu-list
  .menu-items
  .menu-list-down
  .menu-items-down
  .menu-link-down
  .icons:hover {
  fill: #fff;
}
.nav-menu
  .menu-list
  .menu-items
  .menu-list-down
  .menu-items-down
  .menu-link-down:hover
  > .icons {
  background: var(--dark);
  fill: #fff;
}
.nav-menu .menu-list .menu-items:hover > .menu-list-down {
  display: initial;
}
.menu {
  position: relative;
  width: 40px;
  height: 35px;
  background: transparent;
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
.menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--dark);
  border-radius: 10px;
  transition: 0.5s;
}
.menu span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}
.menu span:nth-child(2) {
  top: 50%;
  transform-origin: left center;
  transform: translateY(-50%);
}
.menu span:nth-child(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
input:checked ~ label span:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
  left: 10px;
}
input:checked ~ label span:nth-child(2) {
  width: 0;
  opacity: 0;
}
input:checked ~ label span:nth-child(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 10px;
}
header label {
  display: none;
}

@media screen and (max-width: 1158px) {
  header {
    padding: 20px 40px;
  }
  header .nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--blue-light);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  header .nav-menu .menu-list .menu-items {
    width: 100%;
  }
  header .nav-menu .menu-list .menu-items .menu-list-down {
    position: relative;
    width: 100%;
  }
  header .nav-menu .menu-list .menu-items .menu-list-down .menu-items-down {
    background: var(--bg);
  }
  header
    .nav-menu
    .menu-list
    .menu-items
    .menu-list-down
    .menu-items-down
    .menu-list-down {
    width: 100%;
    left: 0;
  }
  header label {
    display: initial;
  }
  #menu:checked ~ .nav-menu {
    display: initial;
  }
}

/* #endregion heder-menu */

/* #region mobile */
/* #region main */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 90px 0;
}
.section-main {
  background: var(--blue-light);
}

.social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 30px;
}
.social-items {
  width: 40px;
  height: 40px;
}
.items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items-link:hover,
.items-link:focus {
  background-color: var(--lightgrey);
}
.icons {
  fill: var(--lightgrey);
}
.icons-link:hover,
.icons-link:focus {
  background-color: var(--dark);
}
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.main-photo {
  width: 319px;
  height: 318px;
  background-image: url(../img/main-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .main-photo {
    width: 319px;
    height: 318px;
    background-image: url(../img/main-mob@2x.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.subtitle-main {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 8px;
  margin-top: 36px;
  text-align: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 20px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--dark);
  width: 260px;
  text-align: center;
}
.main-btn {
  display: block;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--dark);
  gap: 10px;
  padding: 16px 16px;
  border-radius: 12px;
  width: 280px;
  cursor: pointer;
  box-shadow: 0 38px 86px 0 rgba(47, 73, 96, 0.6),
    0 3px 71px 0 rgba(1, 203, 203, 0.45);
  background: linear-gradient(165deg, #01cbcb 37.26%, #aae0e0 97.03%);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-prog {
  background: var(--lightgrey);
  color: var(--dark);
}
.link-pay {
  display: block;
  padding: 16px 16px;
}

.main-btn:hover,
.main-btn:focus {
  background: var(--lightgrey);
  color: var(--dark);
}
.btn-prog:hover,
.btn-prog:focus {
  color: var(--dark);
  box-shadow: 0 38px 86px 0 rgba(47, 73, 96, 0.6),
    0 3px 71px 0 rgba(1, 203, 203, 0.45);
  background: linear-gradient(165deg, #01cbcb 37.26%, #aae0e0 97.03%);
}
.btn-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
/* #endregion main */пше
/* #region info */
.section-info {
  background-color: var(--white);
  padding-top: 90px;
  padding-bottom: 90px;
}
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 46px;
}
.subtitle-info {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 24px;
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.items-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.text-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.text-item {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

/* #endregion info */
/* #region action */

.section-action {
  background-color: var(--white);
  padding-top: 90px;
  padding-bottom: 90px;
}
.container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-buy {
  font-size: 42px;
  line-height: 54px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 32px;
}
.sale {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  text-decoration-line: underline;
}
.buy {
  margin-bottom: 66px;
}
.text-action {
  font-weight: 600;
  font-size: 24px;
  text-decoration-line: underline;
}
.action-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.action-items {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* #endregion action */

/* #region module */
.section-module {
  background-color: var(--bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  margin-bottom: 36px;
}
.title-module,
.subtitle-prom {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 8px;
}
.subtitle-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 38px;
  align-items: center;
}
.subtitle-module {
  font-weight: 600;
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--dark);
}
.text-prom {
  font-size: 14px;
  text-align: start;
}
.one {
  text-align: center;
}
.block-prom {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 14px;
}
.two {
  margin-bottom: 34px;
}
.image-module {
  margin-bottom: 4px;
}
.module-list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  justify-content: center;
}
.module-items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: start;
}
.subtitle-text {
  text-align: start;
  margin-bottom: 26px;
  font-size: 22px;
}

.text-module {
  text-align: start;
  margin-bottom: 4px;
  font-size: 18px;
}
.image-module {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.box-module {
  margin-bottom: 50px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-span {
  font-size: 28px;
  margin-left: 12px;
}
.module-span-two {
  font-size: 28px;
  margin-right: 12px;
}
.btn-mod {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 34px;
  background-color: var(--green);
}
.btn-mod:hover,
.btn-mod:focus {
  box-shadow: 0 38px 86px 0 #000, 0 3px 71px 0 rgba(1, 203, 203, 0.45);
  background: #aae0e0;
  color: var(--dark);
  border: var(--dark);
}
.button-mod {
  display: flex;
  gap: 34px;
}
.about-arrow {
  font-size: 20px;
  color: #000;
}

/* #endregion module */

/* new module */
/* #prog {
  padding-bottom: 64px;
} */

.mod-section {
  overflow: hidden;
}

.mod-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--bg);
  margin-bottom: 32px;
}

.mod-item {
  position: relative;
  padding: 20px 0;
}

.mod-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(47, 73, 96, 0.4);
}

.mod-item::before {
  top: 0;
}

.mod-item::after {
  bottom: 0;
}

.mod-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0;
  background-color: inherit;
  border: none;
}

.mod-button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: var(--dark);
}

.mod-button svg {
  stroke: rgba(47, 73, 96, 0.4);
  transform: rotate(180deg);
}

.mod-button.active svg {
  transform: rotate(360deg);
}

.mod-list-icon {
  width: 34px;
  height: 34px;
  padding: 7px;
  border: 1px solid rgba(47, 73, 96, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mod-answer {
  margin-top: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--dark);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.text-answer {
  text-align: left;
  margin-bottom: 6px;
}

/* course */

.section-courses {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100lvh;
  background: linear-gradient(rgba(46, 47, 66, 0.5), rgba(46, 47, 66, 0.5)),
    url(../images/mobile/bg-course@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .section-courses {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.5),
        rgba(46, 47, 66, 0.5)
      ),
      url(../images/mobile/bg-course@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.courses-title {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 46px;
  color: var(--lightgrey);
}
.courses-subtitle {
  margin-bottom: 28px;
  font-size: 20px;
  line-height: 24px;
  color: var(--lightgrey);
}

.add-image {
  border-radius: 0%;
  margin-bottom: 20px;
  border: 3px solid var(--white);
  padding: 4px;
}
.add-font {
  font-size: 14px;
}
/* #region about */

.section-about {
  background-color: var(--lightgrey);
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title-about {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 16px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: start;
}
.about-items {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.text-about {
  font-size: 18px;
}
.about-list-two {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: start;
}
.image-about {
  padding: 20px;
  margin-bottom: 16px;
  background: var(--white);
}
/* #endregion about */
/* #region reviews */
.section-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100lvh;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/mobile/bg-reviews@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .section-reviews {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/bg-reviews@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.slider-wrapper {
  overflow: hidden;
  max-width: 320px;
  margin: 0 10px 55px;
}
.card-list .card-item {
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.add-list .add-card {
  border: none;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
}
.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid var(--white);
  padding: 4px;
}
.card-list .card-item .user-text {
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  margin: 14px 0 40px;
  text-align: left;
}
.card-list .card-item .user-link {
  width: 40px;
  height: 40px;
}
.card-list .card-item .items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--white);
  border: none;
}
.card-list .card-item .items-link .icons {
  fill: var(--dark);
}
.card-list .card-item .items-link:focus,
.card-list .card-item .items-link:hover {
  background: var(--dark);
}

.card-list .card-item .items-link .icons:focus,
.card-list .card-item .items-link .icons:hover {
  background: var(--dark);
  fill: var(--lightgrey);
}

.card-list .card-item .items-link:focus + .icons,
.card-list .card-item .items-link:hover + .icons {
  background: var(--dark);
  fill: var(--lightgrey);
}

.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -50px;
  transition: 0.2s ease;
  display: none;
}
.slider-wrapper .swiper-slide-button:hover {
  color: var(--navy-blue);
}

/* #endregion reviews */

/* #region footer */
.footer {
  background: var(--dark);
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .logo {
  font-size: 15px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  transition: 0.5s;
}
.logo-footer {
  text-align: center;
  margin-bottom: 16px;
}
footer .logo:hover {
  transform: scale(1.2);
}

footer .logo .logo-link {
  color: var(--lightgrey);
}
.text-footer {
  color: var(--lightgrey);
  text-align: center;
}
.text-box {
  margin-bottom: 44px;
}
.title-footer {
  color: var(--lightgrey);
  font-size: 20px;
  margin-bottom: 26px;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}
.social-items {
  width: 40px;
  height: 40px;
}
.items-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--lightgrey);
  background-color: var(--dark);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons {
  fill: var(--lightgrey);
}
.items-link:hover,
.items-link:focus {
  background-color: var(--lightgrey);
}
.icons:focus,
.icons:hover {
  fill: var(--dark);
}
.items-link:hover + .icons,
.items-link:focus + .icons {
  fill: var(--dark);
}
.footer-contacts {
  color: var(--lightgrey);
  margin-bottom: 26px;
  text-align: center;
  font-size: 18px;
}
.contacts-link {
  color: var(--lightgrey);
}

/* #endregion footer */
.section-thanks {
  padding-top: 120px;
}
.image-thanks {
  margin-bottom: 24px;
}
.title-thanks {
  font-size: 24px;
  line-height: 32px;
}

/* #endregion mobile */

@media (min-width: 768px) and (max-width: 1439px) {
  .mod-item {
    padding: 32px 0;
  }

  .mod-answer {
    margin-top: 6px;
    padding-left: 26px;
  }

  .mod-list-icon {
    width: 40px;
    height: 40px;
  }

  #mod {
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px) {
  /* #region main */
  .container {
    max-width: 768px;
    padding: 0 24px;
    margin: 0 auto;
  }
  .main-photo {
    display: none;
  }

  .section-main {
    background: var(--blue-light);
    background-image: url(../img/tab/main-tab@1x.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  @media (min-resolution: 192dpi) {
    .section-main {
      background: var(--blue-light);
      background-image: url(../img/tab/main-tab@2x.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }
  .section-main {
    padding: 80px 0;
  }
  .container-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }
  .main-title {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }

  .main-color {
    color: var(--white);
  }
  .btn-box {
    margin-left: 30px;
  }
  .subtitle-main {
    font-weight: 800;
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 14px;
  }
  .title {
    font-weight: 900;
    font-size: 32px;
    line-height: 53px;
    text-transform: uppercase;
    width: 320px;
    text-align: left;
  }
  .btn-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
  }

  .social-list.tab {
    display: flex;
  }
  /* #endregion main */
  /* #region info */
  .subtitle-info {
    font-size: 32px;
    line-height: 36px;
  }
  .text-list {
    flex-direction: row;
  }
  .items-info {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc((100% - 28px) / 3);
    flex-shrink: 1;
  }
  .container-info {
    padding: 0 30px;
  }

  .text-info {
    font-size: 24px;
  }

  /* #endregion info */

  /* #region action */
  .action-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .action-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    flex-basis: calc((100% - 24px) / 2);
  }
  /* #endregion action */

  /* #region module */

  .container-module {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  .subtitle-prog {
    font-size: 18px;
    margin-bottom: 36px;
  }
  .text-prom.one {
    font-size: 18px;
    font-weight: 500;
  }
  .block-prom {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 24px;
  }
  .block-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 46px;
  }

  .image-module {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  .module-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: calc((100% - 12px) / 2);
  }
  .module-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
    align-items: start;
  }

  .subtitle-module {
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
  }
  .text-block.add {
    margin-top: 50px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
  }

  /* #endregion module */

  .courses-subtitle {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 28px;
  }
  .courses-title {
    font-size: 24px;
    line-height: 32px;
  }
  /* about */
  .about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: stretch;
  }
  .about-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    flex-basis: calc((100% - 16px) / 2);
  }

  .text-about {
    margin-bottom: 14px;
  }
  .about-list-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
  }
  .sert-about {
    flex-basis: calc((100% - 12px) / 3);
  }

  /* reviews */
  .section-reviews {
    padding: 120px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab/bg-reviews@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .section-reviews {
      padding: 120px 0;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tab/bg-reviews@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .slider-wrapper {
    max-width: 768px;
    margin: 0 20px 55px;
  }

  .user-text {
    font-size: 18px;
  }
  .add-list .add-card {
    padding: 35px;
  }
  .add-list .add-card .add-text {
    width: 520px;
  }
  .add-list .add-card .main-btn {
    margin-bottom: 30px;
  }
  .container-thanks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }
  .title-thanks {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (min-width: 819px) {
  .title {
    font-size: 35px;
  }
}
@media (min-width: 821px) and (max-width: 987px) {
  section {
    padding-top: 156px;
    padding-bottom: 110px;
  }

  .container-main {
    max-width: 821px;
    padding: 0 15px;
  }
  .btn-box {
    margin-left: 0;
  }
  .main-title {
    margin-left: 0;
  }
  .main-color {
    color: var(--dark);
  }
}

@media (min-width: 988px) and (max-width: 1145px) {
  .section {
    padding-top: 156px;
    padding-bottom: 110px;
  }
  .container-main {
    max-width: 988px;
    padding: 0 60px;
  }
  .main-color {
    color: var(--white);
  }
  .title {
    font-size: 45px;
    line-height: 65px;
  }
}

@media (min-width: 1146px) {
  .section {
    padding-top: 156px;
    padding-bottom: 110px;
  }
  .container-main {
    max-width: 1146px;
    padding: 0 60px;
  }
  .main-color {
    color: var(--dark);
  }
  .btn-box {
    margin-left: 0;
  }
  .main-title {
    margin-left: 0;
  }
  .title {
    font-size: 52px;
    line-height: 64px;
  }
}

@media screen and (min-width: 1158px) {
  /* heder */

  header .nav-menu .menu-list .menu-items .menu-link {
    padding: 15px;
    font-size: 16px;
  }
  .nav-menu
    .menu-list
    .menu-items
    .menu-list-down
    .menu-items-down
    .menu-link-down {
    padding: 15px;
    color: var(--dark);
    font-size: 16px;
  }

  .section {
    padding: 100px 0;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  /* main */
  .section-main {
    background: var(--blue-light);
    background-image: url(../img/desk/main@1x.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  @media (min-resolution: 192dpi) {
    .section-main {
      background: var(--blue-light);
      background-image: url(../img/desk/main@2x.jpg);
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }

  .title {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 100px;
  }
  .subtitle-main {
    text-align: start;
    font-size: 24px;
    margin-bottom: 22px;
  }
  .main-color {
    color: var(--dark);
  }
  .btn-box {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin: 0;
  }
  .main-btn {
    padding: 18px;
    font-size: 18px;
  }

  /* info */
  .items-info {
    display: flex;
    flex-direction: column;
  }
  .text-info {
    font-weight: 600;
    font-size: 32px;
    line-height: 46px;
    color: var(--dark);
    width: 600px;
    margin: 0 auto;
  }

  /* reviews */
  .section-reviews {
    padding-top: 120px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desk/bg-reviews@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-resolution: 192dpi) {
    .section-reviews {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desk/bg-reviews@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  /* module */
  .module-container {
    display: flex;
    flex-direction: row;
    gap: 64px;
  }
  .module-wrapper {
    width: 50%;
  }
  /* .module-wrapper .mod-list {
    margin-top: 0;
    margin-bottom: 64px;
  } */
  .module-wrapper .buttons {
    margin-top: auto;
  }
  /* .subtitle-module {
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 14px;
  } */
  .title-module {
    text-align: start;
    font-size: 36px;
    margin-bottom: 24px;
  }
  .module-text {
    margin-bottom: 12px;
    margin-left: 20px;
  }
  .module-text-one {
    margin-left: 0;
  }
  .module-text-two {
    margin-bottom: 46px;
    margin-left: 20px;
  }

  /* old */
  /* .container-module {
    max-width: 1000px;
  } */

  .user-text {
    font-size: 20px;
  }
  .add-list .add-card {
    padding: 45px;
  }
  .add-list .add-card .add-text {
    width: 100%;
  }
  .add-list .add-card .main-btn {
    margin-bottom: 40px;
  }
  .container-about {
    width: 1000px;
  }
  .about-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc((100% - 44px) / 2);
  }
  .slider-wrapper .swiper-slide-button {
    display: initial;
  }
  .slider-wrapper {
    max-width: 1200px;
    margin: 0 10px 45px;
  }
  /* reviews */

  /* footer  */
  footer .section {
    padding: 90px 0;
  }
  .container-footer {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 160px;
  }

  .logo-footer {
    margin-bottom: 24px;
    text-align: left;
  }
  .footer-first {
    display: flex;
    flex-direction: column;
  }
  .text-footer {
    text-align: start;
  }
  .form-subscribe {
    align-items: start;
    justify-content: start;
  }

  .form-button {
    margin-left: 0;
  }

  .title-footer {
    text-align: start;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
  .social-list {
    align-items: start;
    justify-content: start;
  }
  .contacts-link {
    color: var(--lightgrey);
  }
  .footer-contacts {
    text-align: left;
  }

  /*  thanks */
  .section-thanks {
    background-color: var(--lightgrey);
  }
  .container-thanks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-thanks {
    font-size: 34px;
    line-height: 42px;
    width: 590px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .section-module {
    min-height: 1000px;
  }
  /* .accordion {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid cornflowerblue;
  } */

  .accordion__heading {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0;
    background: cornflowerblue;
    color: white;
  }

  .accordion__heading:after,
  .accordion__heading:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    top: 50%;
    right: 20px;
    background: white;
    transition: all 0.1s;
  }

  .accordion__checkbox:checked ~ .accordion__heading:before {
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.1s;
  }

  .accordion__heading:after {
    transform: rotate(90deg);
    transition: all 0.1s;
  }

  .accordion__checkbox:checked ~ .accordion__heading:after {
    transform: rotate(180deg);
  }

  .accordion__checkbox {
    display: none;
    position: absolute;
    left: -9999em;
  }

  .accordion__checkbox:checked ~ .accordion__content {
    max-height: 1000px;
    transition: all 2s;
  }

  .accordion__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: all 0.5s;
  }


.accordion__item {
  margin-bottom: 20px;
  cursor: pointer;
}

.accordion__btn {
  padding: 20px;
  border: 1px solid #000;
}

.accordion__content {
  overflow: hidden;
  padding: 0 20px;
  border: 1px solid #000;
  border-top: none;
  max-height: 0;
  transition: all 0.5s;
}

.active .accordion__content {
  max-height: 1000px;
  transition: all 2s;
}


  .module-container {
    display: flex;
    gap: 84px;
  }
  .mod-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: var(--lightgrey);
    padding: 32px;
  }
  .mod-text {
    color: var(--dark);
    font-size: 44px;
  }
  .mod-item {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    /* padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 22px;
      padding-right: 22px; */
  }

  /* .mod-item:nth-child(even) {
      padding-left: 32px;
  }

  .mod-item:nth-child(odd) {
      padding-right: 32px;
  } */

  /* .mod-list::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      background: var(--dark);
  } */

  .mod-list-icon {
    width: 30px;
    height: 30px;
  }

  .mod-answer {
    margin-top: 16px;
    margin-right: 32px;
    text-align: left;
  }
  .main-btn {
    width: 220px;
  }
  #mod {
    padding-bottom: 164px;
  }
/* accordeon */

.accordion {
  padding-top: 24px;
}
.subtitle-accordion {
  font-size: 24px;
  color: var(--dark);
  text-transform: capitalize;
  font-weight: 300;
  text-align: center;
}
.accordion .accordion-item {
  border-bottom: 1px solid var(--bg-acc);
 
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.5em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: var(--dark);
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
 
}

.accordion button .accordion-title {
  padding: 1em 1.5em;
  color: #000;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 20px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
 
}
.accordion button[aria-expanded=true] {
  color: var(--dark);
  background-color: var(--navy-blue);
   
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 204px;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  padding-left: 20px;
  background-color: var(--blue-light);
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 12px 0;
}
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
